html, body {
	height: 100%;
	margin: 0;
}

#tools {
	float: left;
	width: 400px;
	height: 100%;
}

#tools select {
	width: 50%;
	height: 50%;
	display: inline-block;
	font-size: 14px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#tools select option {
	padding: 2px 4px;
}

#tools select option:first-child {
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}

#tools select.history option + option {
	counter-increment: history;
}

#tools select.history option + option:before {
	content: counter(history) ". ";
}

#config {
	padding: 1em;
}

#config label {
	display: block;
}

#config .apply:before {
	content: "✔ ";
	color: #0b0;
	font-weight: bold;
}

#config .delete:before {
	content: "✘ ";
	color: #b00;
	font-weight: bold;
}

#preview {
	margin-left: 400px;
	height: 100%;
}

#throbber {
	position: fixed;
	left: 10px;
	bottom: 10px;
}

#throbber:before {
	content: url(throbber.gif) " ";
	vertical-align: middle;
}
